<!DOCTYPE html>
<html>
  <head>
    <title>PennyBid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
    <%= javascript_include_tag "websocket_rails/main" if defined?(WebsocketRails) %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container'>
      <% if current_admin %>
        <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>